/*@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ox1fw7');
	src:url('fonts/icomoon.eot?#iefixox1fw7') format('embedded-opentype'),
		url('fonts/icomoon.woff?ox1fw7') format('woff'),
		url('fonts/icomoon.ttf?ox1fw7') format('truetype'),
		url('fonts/icomoon.svg?ox1fw7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-f-up:before {
	content: "\e600";
	color: #42A100;
}

.icon-f-down:before {
	content: "\e601";
	color: #F4502A;
}

.icon-pen:before {
	content: "\e908";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
	color: #FFA53E;
}



a
{
	color:  #22BCE0;
}
body
{
	background: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
header
{
	background: #343B54;
	color: white;
	padding: 0.5em;
	overflow: hidden;

}
header figure
{
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin:0.2em 70px 0 0;

}
header #avatar
{
	position: absolute;;
	right: 0;
	top: 0;
	padding: 0.5em;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}

header #logo img 
{
	border-right: 1px;
	border-style: solid;
	border-color: white;
	padding-right: 0.5em;
	margin-right: 0.5em;
	width: 52px;
}

figure
{
	  margin: 0;

}
nav
{
	background: #80BCA3;
	padding: 0 2em 0 0;
	position: relative;
	box-shadow: rgba(0,0,0,0.5) 0px 2px 10px;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;

}
nav ul #publicar_nav
{
	position: absolute;
	top: -0.4em;
	right: 0;
	margin: 0.1em 0.4em 0 0;

}
nav ul #publicar_nav a
{
	background: #22BCE0;
	padding: 0.8em;
	border-radius: 6px;
	text-decoration: none;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
	box-shadow:rgba(0,0,0,0.5) 5px 5px 20px;
}

nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;

}

footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	text-align: center;


}
footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:after
{
		content: " -";

}

footer p:last-child:before
{
	content: "- ";
}

#contenido
{
	margin: 1em;
}

#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	position: relative;
	min-height: 130px;
	margin-bottom: 2em;
}

#contenido .item .autor_item
{
	color: #AAA;
	font-size: 14px;

}

#contenido .item .datos_item
{
	margin:0.3em;
	text-align: right;
	color: #AAA;
	padding:  0.2em;


}

#contenido .item .datos_item .tag_item
{
	background: #F4502A;	
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	float: left;
	padding:  0.1em;
	margin: 0.1em;
	text-decoration: none;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img
{
	width: 70px;
}

#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding: 0.1em;
	margin: 0.1em;
}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
	font-style: bold;

}

#contenido .item .votacion
{
	background: white;
	left: 1%;
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	top: 100%;
	width: 95%;
}
#contenido .item .votacion a
{
	text-decoration: none;
}


#contenido .item .votacion .comentarios_item, 
#contenido .item .votacion .guardar_item
{
float: right;
}
/*@media print{
	body
	{
		font-size: 50px;
	}
}*/
@media screen and (min-width: 500px){
	#publicar_nav a:last-child:after
	{
		content: " Publicar";
	}

@media screen and (min-width: 800px){
	#contenido
		{
			overflow: hidden;
		}
	
	#contenido .item
		{
		width:48%;
		float: left; 
		margin-left: 1%;
		}

}









 












